{% extends 'todo/base.html' %}

{% block content %}

My Completed todos page
<!--use an unordered list. Put list itens in there-->
<ul>
    <!--use a for loop to loop through the todos-->
    {% for todo in todos %}
    <br>
    <li>
        <!--To link each todo with the updatetodo page-->
        <!--<a href="{% url 'updatetodo' todo.id %}">-->
        <!--todo Title and if the todo is important-->
        {% if todo.important %}
        <b>
        {% endif %}

        {{ todo.title }}

        {% if todo.important %}
        </b>
        {% endif %}
        
        <!--if the todo has a Note-->
        {% if todo.note %}
        <br>
        - Notes: {{ todo.note }}
        {% endif %}

        <br>

        <!--show the completed date -->
        <b>Completed at: </b>{{ todo.completedAt|date:'j M Y H:i' }}

        <!--</a>-->
    </li>
    {% endfor %}
</ul>

{% endblock %}